<div class="top-wrap-btn text-right">
  <form #managerForm="ngForm" class="navbar-form form-inline">
    <select class="custom-select form-control mr-4" name="SkillId" #SkillId [(ngModel)]="service.formData.SkillId"
      (ngModelChange)="onSubmit(managerForm)">
      <option [value]="null" selected>Any skill</option>
      <option [title]="skill.Description" *ngFor="let skill of skillService.fullSkillList" [value]="skill.Id">
        {{skill.Name}}
      </option>
    </select>
    <select class="custom-select form-control mr-4" name="KnowledgeLevel" #KnowledgeLevel
      [(ngModel)]="service.formData.KnowledgeLevel" (ngModelChange)="onSubmit(managerForm)">
      <option [value]="0" selected>Any level</option>
      <option [value]="10">10</option>
      <option [value]="20">20</option>
      <option [value]="30">30</option>
      <option [value]="40">40</option>
      <option [value]="50">50</option>
      <option [value]="60">60</option>
      <option [value]="70">70</option>
      <option [value]="80">80</option>
      <option [value]="90">90</option>
      <option [value]="100">100</option>
    </select>
    <button type="button" (click)="createReport(managerForm); isLoadingReport=true;"
      class="btn btn-sm btn-primary">Create report</button>
    <div *ngIf="isLoadingReport" class="ml-2">
      <div class="spinner-border spinner-border-sm" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      Please wait while the report loads...
    </div>
  </form>
</div>

<div class="row d-flex justify-content-around">
  <div *ngFor="let profile of service.profileList">
    <a href="#" class="stretched-link profile-link" [routerLink]="['/profile', profile.Id]"
      (click)="goToProfile(profile.Id)">
      <div class="card mt-3">
        <div class="row no-gutters">
          <div class="col-auto">
            <img [src]="sanitize(setImageProfile(profile.ImageProfileUrl))" style="width:200px; height: 200px;">
          </div>
          <div class="card-block card-block-wrap px-2">
            <table class="table manager-info table-hover table-block-info">
              <h5 class="card-title">{{profile.FullName}}</h5>
              <tr class="d-flex">
                <td class="col-3">
                  Email :
                </td>
                <td class="col-9">
                  {{profile.Email}}
                </td>
              </tr>
              <tr class="d-flex">
                <td class="col-3">Phone :</td>
                <td class="col-9">{{profile.Phone}}</td>
              </tr>
              <tr class="d-flex">
                <td class="col-3">GitHub :</td>
                <td class="col-9">{{profile.GitHub}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>