<div class="top-wrap-btn text-right">
  <button type="button" (click)="resetForm(workExperienceForm); workExperienceModal.show()"
    class="btn btn-sm btn-outline-success" [hidden]="roleService.userMatch()">Add</button>
</div>
<div *ngIf="service.workExperienceList.length==0" class="text-center font-italic card ml-5 mr-5">
  <div class="card-body">
    <p>No information about work experience.</p>
  </div>
</div>
<div class="card ml-5 mr-5 mt-3" *ngFor="let workExperience of service.workExperienceList">
  <div class="card-body">
    <table class="table table-hover table-block-info">

      <h5 class="card-title">{{workExperience.Company}}</h5>
      <tr>
        <td>Position</td>
        <td>{{workExperience.Position}}</td>
      </tr>
      <tr>
        <td>Date of entry</td>
        <td>{{workExperience.EntryDate | date:  "dd.MM.y" }}</td>
      </tr>
      <tr *ngIf="workExperience.CloseDate!=null">
        <td>Date of close</td>
        <td>{{workExperience.CloseDate | date:  "dd.MM.y" }}</td>
      </tr>
      <tr>
        <td>Description about tasks performed in the workplace</td>
        <td class="text-break">{{workExperience.Description}}</td>
      </tr>
      <tr class="footer-row">
        <tfoot class="text-center">
          <td><button (click)="onDelete(workExperience.Id)" [hidden]="roleService.userMatch()"
              class="btn btn-sm btn-outline-danger">Delete</button></td>
          <td><button (click)="populateForm(workExperience); workExperienceModal.show()" data-toggle="modal"
              data-target="#workExperienceModal" class="btn btn-sm btn-outline-warning"
              [hidden]="roleService.userMatch()">Edit</button></td>
        </tfoot>
      </tr>
    </table>
  </div>
</div>
<div class="modal fade" bsModal #workExperienceModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="workExperienceModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="workExperienceModalLabel">Work experience</h5>
        <button class="close" type="button" (click)="workExperienceModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="col-sm-12" #workExperienceForm="ngForm" autocomplete="off"
            (ngSubmit)="onSubmit(workExperienceForm)">
            <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="service.formData.Id">
            <input type="hidden" name="ProgrammerId" #ProgrammerId="ngModel"
              [(ngModel)]="service.formData.ProgrammerId">
            <div class="form-group">
              <label>Company</label>
              <input type="text" class="form-control" maxlength="64" name="Company" #Company="ngModel"
                [(ngModel)]="service.formData.Company" required checkspaces>
              <div class="validation-error" *ngIf="Company.invalid && Company.touched">This field is required</div>
            </div>
            <div class="form-group">
              <label>Position</label>
              <input type="text" class="form-control"  maxlength="64" name="Position" #Position="ngModel"
                [(ngModel)]="service.formData.Position" required checkspaces>
              <div class="validation-error" *ngIf="Position.invalid && Position.touched">This field is
                required</div>
            </div>
            <div class="form-group">
              <label>Date of entry</label>
              <div class="input-group">
                <input type="text" bsDatepicker #dpEntryDate="bsDatepicker" [bsConfig]="datePickerConfig"
                  placement="right" class="form-control" name="EntryDate" #EntryDate="ngModel" placeholder="yyyy-mm-dd"
                  [(ngModel)]="service.formData.EntryDate" required>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dpEntryDate.toggle()"
                    type="button"></button>
                </div>
              </div>
              <div class="validation-error" *ngIf="EntryDate.invalid && EntryDate.touched">This field is required
              </div>
            </div>
            <div class="form-group">
              <label>Date of close</label>
              <div class="input-group">
                <input type="text" bsDatepicker #dpCloseDate="bsDatepicker" [bsConfig]="datePickerConfig"
                  placement="right" class="form-control" name="CloseDate" #CloseDate="ngModel"
                  [(ngModel)]="service.formData.CloseDate" placeholder="yyyy-mm-dd" required>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dpCloseDate.toggle()"
                    type="button"></button>
                </div>
              </div>
              <div class="validation-error" *ngIf="CloseDate.invalid && CloseDate.touched">This field is required
              </div>
            </div>

            <div class="form-group">
              <label>Description about tasks performed in the workplace</label>
              <textarea placeholder="Required example textarea" class="form-control" name="Description"
                #Description="ngModel" maxlength="1024" [(ngModel)]="service.formData.Description" required checkspaces></textarea>
              <div class="validation-error" *ngIf="Description.invalid && Description.touched">This field
                is
                required</div>
            </div>
            <div class="modal-footer">
              <button [disabled]="!workExperienceForm.valid" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>