<form class="col-sm-12" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
  <div class="form-group">
    <label data-error="Requored field!">User Name</label>
    <input type="text" class="form-control" checkspaces name="UserName" maxlength="64" #UserName="ngModel" [(ngModel)]="user.UserName" required deletespaces>
    <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">Username is required</div>
  </div>
  <div class="form-group">
    <label data-error="Requored field!">Full Name</label>
    <input type="text" class="form-control" name="FullName" #FullName="ngModel" maxlength="64" [(ngModel)]="user.FullName" required checkspaces>
    <div class="validation-error" *ngIf="FullName.invalid && FullName.touched">Full name is required</div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required
      minlength="6">
    <div *ngIf="!Password.valid && (userRegistrationForm.submitted || Password.touched)" class="validation-error">
      <div *ngIf="Password.errors.required">Password is required. </div>
      <div *ngIf="Password.errors.minlength">Password must contain at least 6 or more characters.</div>
    </div>
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" name="ConfirmPassword" #ConfirmPassword="ngModel"
      [(ngModel)]="user.ConfirmPassword" required pattern="{{ Password.value }}">
    <div *ngIf="!ConfirmPassword.valid && (userRegistrationForm.submitted || ConfirmPassword.touched)">
      <div class="validation-error" *ngIf="ConfirmPassword.errors.required">Confirm password is required</div>
      <div class="validation-error" *ngIf="ConfirmPassword.errors.pattern">Password & Confirm Password does not match.
      </div>
    </div>
  </div>
  <div class="form-group"> 
    <label>Email</label>
    <input type="email" class="form-control" name="Email" #Email="ngModel" [(ngModel)]="user.Email" required
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
      <div *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="validation-error">
        <div *ngIf="Email.errors.required">
          Email is required.
        </div>
        <div *ngIf="Email.errors.pattern">
          Enter the correct email (for example : bull@gmail.com).
        </div>
      </div>
  </div>
  <button [disabled]="!userRegistrationForm.valid" type="submit" class="btn btn-primary">Submit</button>
</form>